<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Test Application{% endblock %}</title>
</head>
<body>
<div id="sidebar">
    {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    {% endblock %}
</div>

<div id="content">
    {% block body %}{% endblock %}
</div>

<table width="50%" cellspacing="0" cellpadding="4" border="1">
    <tr>
        <th>ФИО</th>
        <th>Стаж в сфере IT</th>
        <th>Оклад</th>
        <th>Номер телефона</th>
    </tr>

    {% for i in 1..10 %}
        <tr><td>Сатыбалдыев Тилек Рысбаевич</td><td> {{ i }} год</td><td>{{ number }}</td><td>+996000000</td></tr>
    {% endfor %}
</table>
</body>
</html>
